
    <input id="autocomplete-input" ng-model="val" ng-change="change()" ng-keydown="key($event)" class="form-control" placeholder="Search">
    <div class="list-group">
        <a ng-repeat="suggestion in suggestions" ng-click="click(suggestion)" href="#autocomplete-input" class="list-group-item" ng-class="isActive($index)">
            {{suggestion.label}}
        </a>
    </div>
