<aside class="bg-dark" id="content">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">JQuery or AngularJS?</h2>
            <hr class="light">
            <p class="text-faded">
                So you want to learn the differences between JQuery and AngularJS when it comes to develop
                a "plugin"?
            </p>
            <p class="text-faded">
                First, you need to know those are named "widgets" on JQuery and "modules" on AngularJS. Those
                technologies are fundamentally different in their structures and, of course, do
                not treat their "plugins" the same way.
            </p>
            <p class="text-faded">
                I'll try to demonstrate the differences between them by teaching you how to develop a rather simple
                autocomplete search bar.
            </p>
            <p class="text-faded">
                Before going any further, I have to warn you: a good understanding of JavaScript and JQuery
                are required. Some basic knowledge on AngularJS are a plus if you want to implement the module right
                away, but no worries: I'll try to keep it as simple as possible so you can easily see the differences
                and decide which technology you should use.
            </p>
            <p class="text-faded">
                Also, you can learn how to use AngularJS quickly using
                <a href="https://www.codeschool.com/courses/shaping-up-with-angular-js" target="_blank">
                    this interactive course provided by CodeSchool.
                </a>
            </p>

            <p class="text-faded">
                Anyway, let's begin! <b class="text-primary">Click on the links on the menu above</b>.
            </p>
            <p class="text-faded">
                I suggest you to begin with JQuery in order to fully grasp the possibilities offered
                by AngularJS!
            </p>

        </div>
    </div>
</aside>