	

    html{
     
           
    }
     
     
    #grille{
            background-color:black;
            padding:10px;
            width: 620px;
            margin :auto;
            display: block;
    }
     
     
    #grille img{
            width: 150px;
            height: 150px;
    }
     
     
     #header{
     	width: 434px;
     	      display:inline block;
      position: relative; /* on positionne le conteneur */
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
     }
          
	#header img{
            width: 50px;
            height: 50px;
            margin: 2px;
            border: solid 1px gray;
    }
     
     #header img:hover{
     	border:solid 1px black;
     }
     
    #grille .ligne{
      display:inline block;
      position: relative; /* on positionne le conteneur */
      margin-left: auto;
      margin-right: auto;
    }

    
    #preview img{
    	width:500px;
    }

    #cadre{
    	max-width:500px;
		background-color:gray;
        padding:10px;
        margin :auto;
        display: block;
    }

